:root {
  --color-accent: #2196f3;
  --color-headline: #212121;
  --color-text: #757575;
  --color-team: #f5f4fa;
  --color-team-li: #ffffff;
  --color-icon: #afb1b8;
  --color-text-portfolio: #000000;
}
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  list-style: none;
  font-family: Roboto, sans-serif;
}
.content {
  width: 1170px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
}

.navigation:hover,
.navigation:focus {
  color: var(--color-accent);
}

.main-nav .headline {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}
.headline-ul:not(:last-child) {
  margin-right: 50px;
}
.navigation:hover .icon-navigation {
  fill: var(--color-accent);
}
.navigation:focus .icon-navigation {
  fill: var(--color-accent);
}
.navigation:hover .icon-tel {
  fill: var(--color-accent);
}
.navigation:focus .icon-tel {
  fill: var(--color-accent);
}
.navigation-li:not(:last-child) {
  margin-right: 30px;
}

.icon-team:hover {
  fill: var(--color-team);
  background-color: var(--color-accent);
}
.info {
  margin-left: 290px;
}

.display {
  display: flex;
}

.main-nav {
  display: flex;
  align-items: center;
  width: 1170px;
  padding-top: 25px;
  padding-bottom: 25px;
}

.hero {
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(img/hero.jpg);

  color: #ffffff;
  text-align: center;
  padding: 200px 0;
}
.hero-text {
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
}

.information {
  margin-top: 94px;
}
.headline-text {
  text-align: center;
  margin-bottom: 50px;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
}
.headline-text-team {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
}
.ul-information {
  justify-content: space-between;
}
.ahtung {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  width: calc((100% - 90px) / 4);
}

.photo {
  margin-bottom: 94px;
}
.photo-container {
  justify-content: space-between;
  display: flex;
}

.item-photo {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--color-team-li);
}
.item-photo .img {
  display: block;
}
.team {
  background-color: var(--color-team);
  padding-top: 94px;
  padding-bottom: 54px;
}
.team-ul {
  text-align: center;
}

.headline-text-team {
  text-align: center;
  margin-bottom: 50px;
}
/* .item-photo:not(:last-child) {
  margin-right: 30px;
} */

footer {
  background-color: #2f303a;
  padding: 60px 0px;
}

ul {
  list-style: none;
  padding: 0px;
}
a {
  text-decoration: none;
}
.headline {
  color: var(--color-headline);
}

.color-text {
  color: var(--color-text);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;

  letter-spacing: 0.03em;
}
.contact {
  color: #757575;
}
.adress {
  color: #ffffff;
}
.web {
  color: #2196f3;
  font-family: raleway, sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  margin-right: 95px;
}
.studio {
  color: #000000;
}
.studio-footer {
  color: #ffffff;
}
.button {
  background-color: #2196f3;
  color: #ffffff;
  border-radius: 6px;
  padding: 10px 32px;
}
.item-information {
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
}

.icon-navigation {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: #757575;
}
.icon-tel {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: #757575;
}

.icon-information {
  width: 70px;
  height: 70px;
  margin-left: 100px;
  margin-top: 25px;
}
.icon-team {
  fill: var(--color-icon);
  background-color: #ffffff;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  margin-bottom: 30px;
}
.icon-client {
  display: block;
  fill: var(--color-icon);
}
.footer-link {
  display: flex;
}
.client-text {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  margin-top: 95px;
  margin-bottom: 50px;
}
.client-ul {
  display: flex;
  margin-bottom: 0px;
}
.client-li {
  width: 170px;
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
}
.client-li:hover {
  border: 1px solid var(--color-accent);
}
.client-li:not(:last-child) {
  margin-right: 30px;
}

.client-item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;
}
.client-item:hover .icon-client {
  fill: var(--color-accent);
}
.first-client {
  width: 80px;
  height: 45px;
}
.second-client {
  width: 59px;
  height: 47px;
}
.third-client {
  width: 80px;
  height: 42px;
}
.fourth-client {
  width: 80px;
  height: 63px;
}
.fifth-client {
  width: 60px;
  height: 52px;
}
.sixth-client {
  width: 89px;
  height: 45px;
}
.footer-ul {
  display: flex;
}
.text-footer {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
}
.text-link {
  color: #ffffff;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
}
.main-footer {
  margin-top: 94px;
}
.adress-item {
  margin-top: 20px;
}
.icon-footer {
  fill: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  width: 44px;
  height: 44px;
}
.icon-footer:hover {
  fill: var(--color-team);
  background-color: var(--color-accent);
}
.footer-li {
  margin-right: 70px;
}
.active-link {
  color: var(--color-accent);
}
/* Портфолио  */
body {
  list-style: none;
}
header {
  border-bottom: 1px solid #ececec;
}

.header {
  display: flex;
}
.header-item {
  display: flex;
}
.site :hover,
.site :focus {
  color: #ffffff;
  background-color: var(--color-accent);
}
.site {
  display: flex;
  justify-content: center;
  padding-top: 94px;
}
.site :not(:last-child) {
  margin-right: 8px;
}
.ssite {
  background-color: #f5f4fa;
  border-radius: 4px;
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: var(--color-text-portfolio);
}
.adress-item {
  color: #ffffff;
}
.contact {
  margin-bottom: 9px;
}

.add {
  display: flex;
  flex-wrap: wrap;
  width: 1170px;
  justify-content: space-between;

  margin-top: 50px;
}
.add-item {
  width: calc((100% - 60px) / 3);
  border: 1px solid #eeeeee;
}

.add-item:nth-child(n + 4) {
  margin-top: 30px;
}
.add-item:hover {
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.name {
  margin-left: 24px;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
}
.name-site {
  margin-left: 24px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}
.thumb {
  width: calc((100% - 60px) / 3);
  position: relative;
}
.thumb > .label {
  position: absolute;
  bottom: 0;
  left: 0;
  /* right: 0; */
  margin: 0;

  /* width: 370;
  height: 70px; */
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  text-align: center;
  background: rgba(47, 48, 58, 0.8);
}
